@font-face {
  font-family: 'SUSE';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/1fbb.ttf) format('truetype');
}
@font-face {
  font-family: 'SUSE';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/suse/v1/MwQsbhb078Wt81NpzELmC2QqjbEG7mq6bHY.ttf) format('truetype');
}
@font-face {
  font-family: 'SUSE';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/35e4.ttf) format('truetype');
}
@font-face {
  font-family: 'SUSE';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/suse/v1/MwQsbhb078Wt81NpzELmC2QqjbGG7mq6bHY.ttf) format('truetype');
}
@font-face {
  font-family: 'SUSE';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/6601.ttf) format('truetype');
}
@font-face {
  font-family: 'SUSE';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/suse/v1/MwQsbhb078Wt81NpzELmC2QqjbFY6Wq6bHY.ttf) format('truetype');
}
@font-face {
  font-family: 'SUSE';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/24b2.ttf) format('truetype');
}
@font-face {
  font-family: 'SUSE';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/suse/v1/MwQsbhb078Wt81NpzELmC2QqjbEG6Wq6bHY.ttf) format('truetype');
}
