@font-face {
  font-family: 'Teachers';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/5361.ttf) format('truetype');
}
@font-face {
  font-family: 'Teachers';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teachers/v4/H4c3BXKVncXVmUGsgRY40rCwdnYr0Dd-FtnqIKRNyAU.ttf) format('truetype');
}
@font-face {
  font-family: 'Teachers';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/a2c6.ttf) format('truetype');
}
@font-face {
  font-family: 'Teachers';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teachers/v4/H4c3BXKVncXVmUGsgRY40rCwdnYr0Dd-Ftk_J6RNyAU.ttf) format('truetype');
}
@font-face {
  font-family: 'Teachers';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/219d.ttf) format('truetype');
}
@font-face {
  font-family: 'Teachers';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teachers/v4/H4c5BXKVncXVmUGsgTwx4E9oHx2xfjBr3poAZJRK.ttf) format('truetype');
}
@font-face {
  font-family: 'Teachers';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/1fdb.ttf) format('truetype');
}
@font-face {
  font-family: 'Teachers';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teachers/v4/H4c5BXKVncXVmUGsgTwx4E9oHx2xfjBrAJ0AZJRK.ttf) format('truetype');
}
@font-face {
  font-family: 'Teachers';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/01e6.ttf) format('truetype');
}
@font-face {
  font-family: 'Teachers';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teachers/v4/H4c5BXKVncXVmUGsgTwx4E9oHx2xfjBrXp0AZJRK.ttf) format('truetype');
}
