@font-face {
  font-family: 'Teachers';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/e4bc.ttf) format('truetype');
}
@font-face {
  font-family: 'Teachers';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teachers/v4/H4c3BXKVncXVmUGsgRY40rCwdnYr0Dd-FtnqIKRNyAU.ttf) format('truetype');
}
@font-face {
  font-family: 'Teachers';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/91f1.ttf) format('truetype');
}
@font-face {
  font-family: 'Teachers';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teachers/v4/H4c3BXKVncXVmUGsgRY40rCwdnYr0Dd-Ftk_J6RNyAU.ttf) format('truetype');
}
@font-face {
  font-family: 'Teachers';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/25ef.ttf) format('truetype');
}
@font-face {
  font-family: 'Teachers';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teachers/v4/H4c5BXKVncXVmUGsgTwx4E9oHx2xfjBr3poAZJRK.ttf) format('truetype');
}
@font-face {
  font-family: 'Teachers';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/307a.ttf) format('truetype');
}
@font-face {
  font-family: 'Teachers';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teachers/v4/H4c5BXKVncXVmUGsgTwx4E9oHx2xfjBrAJ0AZJRK.ttf) format('truetype');
}
@font-face {
  font-family: 'Teachers';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/8f36.ttf) format('truetype');
}
@font-face {
  font-family: 'Teachers';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teachers/v4/H4c5BXKVncXVmUGsgTwx4E9oHx2xfjBrXp0AZJRK.ttf) format('truetype');
}
