<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="..\css\3f02.css">
    <link rel="stylesheet" href="..\css\e79d.css">
    <link rel="stylesheet" href="..\css\8e3a.css">
    <link rel="stylesheet" href="..\css\07d8.css">
    <link rel="stylesheet" href="..\css\71d0.css">
    <link rel="stylesheet" href="..\css\00b0.css">
    <link rel="stylesheet" href="..\css\7016.css">
    <link rel="stylesheet" href="..\css\938e.css">
    <link rel="stylesheet" href="..\css\163b.css">
    <link rel="stylesheet" href="..\css\03a9.css">
    <link rel="stylesheet" href="..\css\01c1.css">
    <link rel="stylesheet" href="..\css\b35e.css"></head><body><section data-bs-version="5.1" class="features01 flexm5 cid-ugTWc2iA2G" id="features01-1c">
    

    
    

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="content-wrapper">
                    <p class="mbr-desc mbr-fonts-style display-4">
                        <strong>STEPS</strong>
                    </p>
                    <h2 class="mbr-section-title mbr-fonts-style display-5">
                        <strong>Creating a <span><b>web designer portfolio</b></span> <br> involves showcasing your
                            skills</strong>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row items-wrapper">
            <div class="item features-without-image col-12 col-lg-4">
                <div class="item-wrapper card_1">
                    <div class="card-box">
                        <div class="title-wrap">
                            <div class="icon-wrapper">
                                <span class="mbr-iconfont mobi-mbri-opened-folder mobi-mbri"></span>
                            </div>
                            <h4 class="item-title mbr-fonts-style display-7">
                                Curate and <br> Prepare
                            </h4>
                        </div>
                    </div>
                    <p class="item-text mbr-fonts-style display-4">
                        Choose a diverse array of projects that highlight your range of skills, styles, and
                        experiences. Include work that demonstrates your abilities in various aspects.
                    </p>
                </div>
            </div>
            <div class="item features-without-image col-12 col-lg-4">
                <div class="item-wrapper card_2">
                    <div class="card-box">
                        <div class="title-wrap">
                            <div class="icon-wrapper">
                                <span class="mbr-iconfont mobi-mbri-responsive-2 mobi-mbri"></span>
                            </div>
                            <h4 class="item-title mbr-fonts-style display-7">
                                Design and <br> Develop
                            </h4>
                        </div>
                    </div>
                    <p class="item-text mbr-fonts-style display-4">
                        Plan the layout and structure of your portfolio website.
                        Create a sitemap and wireframes to organize your content logically.
                    </p>
                </div>
            </div>
            <div class="item features-without-image col-12 col-lg-4">
                <div class="item-wrapper card_3">
                    <div class="card-box">
                        <div class="title-wrap">
                            <div class="icon-wrapper">
                                <span class="mbr-iconfont mobi-mbri-pages mobi-mbri"></span>
                            </div>
                            <h4 class="item-title mbr-fonts-style display-7">
                                Additional <br> Content
                            </h4>
                        </div>
                    </div>
                    <p class="item-text mbr-fonts-style display-4">
                        Create an engaging and informative About page that tells your story, highlights your
                        background, and outlines your design philosophy.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section><script src="..\js\8925.js"></script>
    <script src="..\js\e2c9.js"></script>
    <script src="..\js\3729.js"></script>
    <script src="..\js\7ae1.js"></script>
    <script src="..\js\e718.js"></script>
    <script src="..\js\6030.js"></script>
    <script src="..\js\5e58.js"></script>
    <script src="..\js\7eaf.js"></script>
    <script src="..\js\1894.js"></script>
    <script src="..\js\dcd5.js"></script>
    <script src="..\js\391d.js"></script></body></html>