<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="..\css\3f02.css">
    <link rel="stylesheet" href="..\css\e79d.css">
    <link rel="stylesheet" href="..\css\8e3a.css">
    <link rel="stylesheet" href="..\css\07d8.css">
    <link rel="stylesheet" href="..\css\71d0.css">
    <link rel="stylesheet" href="..\css\00b0.css">
    <link rel="stylesheet" href="..\css\7016.css">
    <link rel="stylesheet" href="..\css\938e.css">
    <link rel="stylesheet" href="..\css\163b.css">
    <link rel="stylesheet" href="..\css\03a9.css">
    <link rel="stylesheet" href="..\css\01c1.css">
    <link rel="stylesheet" href="..\css\b35e.css"></head><body><section data-bs-version="5.1" class="article01 flexm5 cid-ugTWd2BbGN mbr-parallax-background" id="article01-1i">
    

    
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(242, 242, 242);"></div>

    <div class="container-fluid">
        <div class="row items-wrapper">
            <div class="col-12 col-lg-5 card">
				<div class="image-wrapper">
					<img src="../img/c90a.jpeg" alt="Mobirise">
				</div>
            </div>
            <div class="col-12 col-lg-6 card">
                <div class="content-wrapper">
                    <p class="mbr-desc mbr-fonts-style display-4">
                        <strong>THE MAIN TASK </strong>
                    </p>
                    <h2 class="mbr-section-title mbr-fonts-style display-5">
                        <strong>Understanding client needs and goals, planning and strategy</strong>
                    </h2>
                    <p class="mbr-text mbr-fonts-style display-4">
                        Engage with clients to understand their business objectives, target audience, brand identity,
                        and specific requirements for the website.
                    </p>
                    <div class="mbr-section-btn">
                        <a class="btn btn-secondary display-4" href="https://mobiri.se">
                            GET STARTED NOW
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><script src="..\js\8925.js"></script>
    <script src="..\js\e2c9.js"></script>
    <script src="..\js\3729.js"></script>
    <script src="..\js\7ae1.js"></script>
    <script src="..\js\e718.js"></script>
    <script src="..\js\6030.js"></script>
    <script src="..\js\5e58.js"></script>
    <script src="..\js\7eaf.js"></script>
    <script src="..\js\1894.js"></script>
    <script src="..\js\dcd5.js"></script>
    <script src="..\js\391d.js"></script></body></html>