<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="..\css\3f02.css">
    <link rel="stylesheet" href="..\css\e79d.css">
    <link rel="stylesheet" href="..\css\8e3a.css">
    <link rel="stylesheet" href="..\css\07d8.css">
    <link rel="stylesheet" href="..\css\71d0.css">
    <link rel="stylesheet" href="..\css\00b0.css">
    <link rel="stylesheet" href="..\css\7016.css">
    <link rel="stylesheet" href="..\css\938e.css">
    <link rel="stylesheet" href="..\css\163b.css">
    <link rel="stylesheet" href="..\css\03a9.css">
    <link rel="stylesheet" href="..\css\01c1.css">
    <link rel="stylesheet" href="..\css\b35e.css"></head><body><section data-bs-version="5.1" class="video01 flexm5 cid-ugTWdHWwZZ" id="video01-1m">
    

    
    

    <div class="container-fluid">
        <div class="row content-wrap">
            <div class="col-12 col-lg-10">
                <div class="title-wrapper">
                    <h2 class="mbr-section-title mbr-fonts-style display-5">
                        <strong>How to create a <br> web designer portfolio</strong>
                    </h2>
                </div>
                <div class="video-wrapper">
                    <div class="box">
                        <div class="mbr-media show-modal align-center" data-modal=".modalWindow">
                            <a href="#"><img src="../img/ce75.jpeg" alt="Mobirise"></a>
                            <div class="icon-wrapper">
                                <span class="mbr-iconfont mobi-mbri-play mobi-mbri"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="modalWindow" style="display: none">
            <div class="modalWindow-container">
                <div class="modalWindow-video-container">
                    <div class="modalWindow-video">
                        <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1" data-src="https://www.youtube.com/watch?v=vtWhr_FIQUo&amp;loop=1&amp;autoplay=1"></iframe>
                    </div>
                    <a class="close" role="button" data-dismiss="modal" data-bs-dismiss="modal">
                        <span aria-hidden="true" class="mbr-iconfont mobi-mbri-close mobi-mbri closeModal"></span>
                        <span class="sr-only visually-hidden visually-hidden">Close</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section><script src="..\js\8925.js"></script>
    <script src="..\js\e2c9.js"></script>
    <script src="..\js\3729.js"></script>
    <script src="..\js\7ae1.js"></script>
    <script src="..\js\e718.js"></script>
    <script src="..\js\6030.js"></script>
    <script src="..\js\5e58.js"></script>
    <script src="..\js\7eaf.js"></script>
    <script src="..\js\1894.js"></script>
    <script src="..\js\dcd5.js"></script>
    <script src="..\js\391d.js"></script></body></html>