<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="..\css\3f02.css">
    <link rel="stylesheet" href="..\css\e79d.css">
    <link rel="stylesheet" href="..\css\8e3a.css">
    <link rel="stylesheet" href="..\css\07d8.css">
    <link rel="stylesheet" href="..\css\71d0.css">
    <link rel="stylesheet" href="..\css\00b0.css">
    <link rel="stylesheet" href="..\css\7016.css">
    <link rel="stylesheet" href="..\css\938e.css">
    <link rel="stylesheet" href="..\css\163b.css">
    <link rel="stylesheet" href="..\css\03a9.css">
    <link rel="stylesheet" href="..\css\01c1.css">
    <link rel="stylesheet" href="..\css\b35e.css"></head><body><section data-bs-version="5.1" class="slider03 mbr-embla flexm5 cid-ugTWfAdpob" id="slider03-1v">
    
    

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="title-wrapper">
                    <h2 class="mbr-section-title mbr-fonts-style display-5">
                        <strong>Our team</strong>
                    </h2>
                </div>
                <div class="embla" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps" data-auto-play-interval="4" data-draggable="true">
                    <div class="embla__viewport">
                        <div class="embla__container">
                            <div class="embla__slide slider-image item" style="margin-left: 12px; margin-right: 12px;">
                                <div class="slide-content">
                                    <div class="item-wrapper">
                                        <div class="item-img">
                                            <img src="../img/1eac.jpeg" alt="Mobirise Website Builder">
                                        </div>
                                        <div class="item-content">
                                            <p class="item-name mbr-fonts-style display-4">
                                                Michael Wilson
                                            </p>
                                            <div class="desc-wrapper">
                                                <p class="item-tag mbr-fonts-style display-4">
                                                    UX/UI DESIGNER
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="embla__slide slider-image item" style="margin-left: 12px; margin-right: 12px;">
                                <div class="slide-content">
                                    <div class="item-wrapper">
                                        <div class="item-img">
                                            <img src="../img/68f0.jpeg" alt="Mobirise Website Builder">
                                        </div>
                                        <div class="item-content">
                                            <p class="item-name mbr-fonts-style display-4">
                                                Jane Smith
                                            </p>
                                            <div class="desc-wrapper">
                                                <p class="item-tag mbr-fonts-style display-4">
                                                    CEO
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="embla__slide slider-image item" style="margin-left: 12px; margin-right: 12px;">
                                <div class="slide-content">
                                    <div class="item-wrapper">
                                        <div class="item-img">
                                            <img src="../img/3109.jpeg" alt="Mobirise Website Builder">
                                        </div>
                                        <div class="item-content">
                                            <p class="item-name mbr-fonts-style display-4">
                                                John Doe
                                            </p>
                                            <div class="desc-wrapper">
                                                <p class="item-tag mbr-fonts-style display-4">
                                                    COO
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="embla__slide slider-image item" style="margin-left: 12px; margin-right: 12px;">
                                <div class="slide-content">
                                    <div class="item-wrapper">
                                        <div class="item-img">
                                            <img src="../img/db86.jpeg" alt="Mobirise Website Builder">
                                        </div>
                                        <div class="item-content">
                                            <p class="item-name mbr-fonts-style display-4">
                                                Laura Kim
                                            </p>
                                            <div class="desc-wrapper">
                                                <p class="item-tag mbr-fonts-style display-4">
                                                    PROJECT MANAGER
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="embla__slide slider-image item" style="margin-left: 12px; margin-right: 12px;">
                                <div class="slide-content">
                                    <div class="item-wrapper">
                                        <div class="item-img">
                                            <img src="../img/a239.jpeg" alt="Mobirise Website Builder">
                                        </div>
                                        <div class="item-content">
                                            <p class="item-name mbr-fonts-style display-4">
                                                Jessica Hernandez
                                            </p>
                                            <div class="desc-wrapper">
                                                <p class="item-tag mbr-fonts-style display-4">
                                                    SEO
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="embla__slide slider-image item" style="margin-left: 12px; margin-right: 12px;">
                                <div class="slide-content">
                                    <div class="item-wrapper">
                                        <div class="item-img">
                                            <img src="../img/ec40.jpeg" alt="Mobirise Website Builder">
                                        </div>
                                        <div class="item-content">
                                            <p class="item-name mbr-fonts-style display-4">
                                                Chris Walker
                                            </p>
                                            <div class="desc-wrapper">
                                                <p class="item-tag mbr-fonts-style display-4">
                                                    GRAPHIC DESIGNER
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="embla__slide slider-image item" style="margin-left: 12px; margin-right: 12px;">
                                <div class="slide-content">
                                    <div class="item-wrapper">
                                        <div class="item-img">
                                            <img src="../img/205f.jpeg" alt="Mobirise Website Builder">
                                        </div>
                                        <div class="item-content">
                                            <p class="item-name mbr-fonts-style display-4">
                                                Linda Young
                                            </p>
                                            <div class="desc-wrapper">
                                                <p class="item-tag mbr-fonts-style display-4">
                                                    QUALITY ASSURANCE
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="embla__button embla__button--prev">
                        <span class="mobi-mbri mobi-mbri-left mbr-iconfont" aria-hidden="true"></span>
                        <span class="sr-only visually-hidden visually-hidden visually-hidden">Previous</span>
                    </button>
                    <button class="embla__button embla__button--next">
                        <span class="mobi-mbri mobi-mbri-right mbr-iconfont" aria-hidden="true"></span>
                        <span class="sr-only visually-hidden visually-hidden visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section><script src="..\js\8925.js"></script>
    <script src="..\js\e2c9.js"></script>
    <script src="..\js\3729.js"></script>
    <script src="..\js\7ae1.js"></script>
    <script src="..\js\e718.js"></script>
    <script src="..\js\6030.js"></script>
    <script src="..\js\5e58.js"></script>
    <script src="..\js\7eaf.js"></script>
    <script src="..\js\1894.js"></script>
    <script src="..\js\dcd5.js"></script>
    <script src="..\js\391d.js"></script></body></html>