<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="..\css\3f02.css">
    <link rel="stylesheet" href="..\css\e79d.css">
    <link rel="stylesheet" href="..\css\8e3a.css">
    <link rel="stylesheet" href="..\css\07d8.css">
    <link rel="stylesheet" href="..\css\71d0.css">
    <link rel="stylesheet" href="..\css\00b0.css">
    <link rel="stylesheet" href="..\css\7016.css">
    <link rel="stylesheet" href="..\css\938e.css">
    <link rel="stylesheet" href="..\css\163b.css">
    <link rel="stylesheet" href="..\css\03a9.css">
    <link rel="stylesheet" href="..\css\01c1.css">
    <link rel="stylesheet" href="..\css\b35e.css"></head><body><section data-bs-version="5.1" class="article02 flexm5 cid-ugTWd9QW3J mbr-parallax-background" id="article02-1j">
    

    
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(242, 242, 242);"></div>

    <div class="container-fluid">
        <div class="row items-wrapper">
            <div class="col-12 col-lg-5 card">
                <div class="content-wrapper">
                    <h2 class="mbr-section-title mbr-fonts-style display-5">
                        <strong>Example of <br> a web design portfolio</strong>
                    </h2>
                    <p class="mbr-desc mbr-fonts-style display-4">
                        The Digital Canvas
                    </p>
                    <p class="mbr-text mbr-fonts-style display-4">
                        The Digital Canvas was founded by Jane Doe, a passionate web designer with over 10 years of
                        experience. Our team is dedicated to blending creativity with technical expertise to deliver
                        exceptional web design solutions. We believe in creating designs that are not only beautiful but
                        also functional. Our approach is rooted in understanding our clients' needs and delivering
                        tailored solutions.
                    </p>
                    
                </div>
            </div>
            <div class="col-12 col-lg-6 card">
                <div class="content-wrap">
                    <div class="image-wrapper">
                        <img src="../img/92ea.jpeg" alt="Mobirise">
                    </div>
                    <div class="image-wrap">
                        <img src="../img/13f8.jpeg" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><script src="..\js\8925.js"></script>
    <script src="..\js\e2c9.js"></script>
    <script src="..\js\3729.js"></script>
    <script src="..\js\7ae1.js"></script>
    <script src="..\js\e718.js"></script>
    <script src="..\js\6030.js"></script>
    <script src="..\js\5e58.js"></script>
    <script src="..\js\7eaf.js"></script>
    <script src="..\js\1894.js"></script>
    <script src="..\js\dcd5.js"></script>
    <script src="..\js\391d.js"></script></body></html>